{% extends 'base.html' %}
{% load static %}


{% block body %}
    <div class="container col-6 border border-primary border-5 rounded rounded-top mt-5"
         style="background-color: rgba(255, 255, 255, 0.1);">
        <div class="row">
            <div class="col-12" class="container container-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mt-1">
                            <div class="inner-block d-flex justify-content-center"
                                 style="pointer-events: none; display: block;">
                                {% if check_mark_banned == 'True' %}
                                    <img src="{% static 'img/BANNED.png' %}" alt="Найденный профиль">
                                {% else %}
                                    <img src="{% static 'img/searched.png' %}" alt="Найденный профиль">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-12 border border-primary border-5 rounded mt-1 mb-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3 mt-2 mb-2" style="pointer-events: none; display: block;">
                                        <div class="inner-block ">
                                            <img class="border border-primary border-5" src="{{ avatar_full }}"
                                                 alt="Аватарка игрока">
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <h5 class="mt-2">Nickname: <b>{{ nickname }}</b></h5>
                                                <h5>Account LVL: <b>{{ account_level }}</b></h5>
                                                <h5>Joined Steam: <b>{{ time_created }}</b></h5>
                                                {% if trade_ban == 'False' %}
                                                    <h5>Trade Ban: <b class="text-success">{{ trade_ban }}</b></h5>
                                                {% elif trade_ban == 'True' %}
                                                    <h5>Trade banned: <b class="text-danger">{{ trade_ban }}</b></h5>
                                                {% endif %}
                                                {% if communityban == 'False' %}
                                                    <h5>Community Ban: <b class="text-success">{{ communityban }}</b>
                                                    </h5>
                                                {% elif communityban == 'True' %}
                                                    <h5>Community banned: <b class="text-danger">{{ communityban }}</b>
                                                    </h5>
                                                {% endif %}
                                                {% if communityban == 'False' %}
                                                    <h5>Vac Ban: <b class="text-success">{{ vac_ban }}</b>
                                                    </h5>
                                                {% elif communityban == 'True' %}
                                                    <h5>Vac banned: <b class="text-danger">{{ vac_ban }}</b>
                                                    </h5>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-3 border border-primary border-2 rounded mt-1">
                                                <a class="text-light"
                                                   href="https://steamcommunity.com/profiles/{{ steam_id }}"
                                                   target="_blank">Steam Profile</a>
                                                <a class="text-light"
                                                   href="https://steamcommunity.com/profiles/{{ steam_id }}/inventory/"
                                                   target="_blank">Steam Inventory</a>
                                                <a class="text-light"
                                                   href="https://steamrep.com/profiles/{{ steam_id }}"
                                                   target="_blank">SteamRep.com</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <p>comment-section</p>
            </div>
        </div>
    </div>
{% endblock %}